* {
  box-sizing: border-box;
  font-family: "Segoe UI", "Chinese Quote", Tahoma, SansSerif, sans-serif;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(240, 242, 245) !important;
}

a {
  text-decoration: none;
}

.content {
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  background-color: #ffffff;
}

.content-width {
  max-width: 900px;
  width: 90%;
  margin: auto;
}
