* {
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,Noto Sans Armenian,Noto Sans Bengali,Noto Sans Cherokee,Noto Sans Devanagari,Noto Sans Ethiopic,Noto Sans Georgian,Noto Sans Hebrew,Noto Sans Kannada,Noto Sans Khmer,Noto Sans Lao,Noto Sans Osmanya,Noto Sans Tamil,Noto Sans Telugu,Noto Sans Thai,sans-serif,
    Helvetica Neue, sans-serif;
  //font-family: "Segoe UI", "Chinese Quote", Tahoma, SansSerif, sans-serif;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(240, 242, 245) !important;
  font-size: 13px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.imperceptible {
  user-select: none;
  color: #999999;
  font-size: 12.5px;
  white-space: nowrap;
}

.lowercase {
  text-transform: lowercase;
}

.fs-small {
  font-size: 12px;
}

.fs-medium {
  font-size: 15px;
}

.fs-large {
  font-size: 16px;
}

.pointer {
  cursor: pointer;
}

.hover-line:hover {
  text-decoration: underline;
}

/* Notification begin */
.notification-container {
  width: 350px !important;
  color: #36a2eb !important;
}
.notification {
  opacity: 1 !important;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12) !important;
  border-radius: 4px !important;
  margin-bottom: 13px !important;
  margin-top: 13px !important;
  padding: 15px 15px 15px 68px !important;
}

.notification-error {
  background-color: #d32f2f !important;
}

.notification:before {
  left: 25px !important;
  font-size: 19px !important;
}
/* Notification end */
